.container{
    width:80%;
    margin: 150px auto 0px;
}
.container h2{
    text-align: center;
    margin: 20px 0px;
    color:#22abb0;
    font-size: 30px;
}
.container .doctorsList{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media (max-width:786px) {
    .container .doctorsList{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
    }  
}