.container{
    width: 80%;
    margin: 150px auto;
}
.container h2{
    text-align: center;
    margin: 20px 0px;
    color:#22abb0;
    font-size: 30px;
  }

  .container .newsList{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  @media (max-width:786px) {
    .container .newsList{
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
    }  
}