.loader-container{
    width:100vw;
    height: 100vh;
    background-color: rgba(206, 229, 235, 0.621);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:99999999;

}
