.btn{
    background-color: #22abb0;
    padding: 10px 30px;
    color: #fff;
    border-radius: 20px;
}
.add-btn{
    display: flex;
    justify-content: flex-end;
    gap:10px;
}

.news .news-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width:820px) {
    .news .news-content{
        justify-content: center !important;
    }
    
}